{% extends 'loginLayout.html' %}

{% block title %}Access denied{% endblock %}

{% block content %}
<p style="text-align: center">Nie masz uprawnień do ogladania tej strony. <br/>
<a href="{% url login %}">Zaloguj się.</a></p>
{% endblock %}