{% extends 'layout.html' %}

{% block content %}
    <div class="alert alert-info">
        <p style="text-align: center">Dostepne operacje na serwerze to:
        {% for operacja in operacje %}
            '{{ operacja }} '
        {% endfor %}
        </p>
    </div>
    <form action="{% url calculate %}" method="POST" class="form-horizontal" style="margin-left:auto; margin-right: auto; width: 300px;margin-top: 200px">
        {% csrf_token %}
        <input type="text" name="calc"/>
        <button type="submit" class="btn">Licz</button>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}