{% extends 'loginLayout.html' %}

{% block content %}
    {% if msg %}
        <div class="alert alert-success text-center">{{ msg }}</div>
    {% elif error %}
        <div class="alert alert-error text-center"> {{ error }}</div>
    {% endif %}

    <form action="{% url doLogin %}" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="login">Username</label>
            <div class="controls">
                <input type="text" required="required" name="username" id="username" placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" required="required" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign in</button>
                <a href="{% url registry %}" class="btn" style="margin-left: 70px">Registry</a>
            </div>
        </div>
    </form>
{% endblock %}