<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <title>Django</title>
</head>
<body>
<div id="wrapper">
    <div id="main">
        <div id="centerBox" style="margin-left: auto;margin-right: auto; padding-top:200px; width: 500px">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>