{% extends 'loginLayout.html' %}

{% block title %}Registry{% endblock %}

{% block content %}
    <script>
        $(document).ready(function(){
            $("#repeatPassword").keyup(function() {
                var password = $("#password").val();
                if(password == $(this).val()){
                    $("#registryBtn").removeAttr('disabled');
                } else {
                    $("#registryBtn").attr('disabled', 'disabled');
                }
            });
        })
    </script>

    <form action="{% url doRegistry %}" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="login">Login</label>
            <div class="controls">
                <input type="text" required="required" name="username" id="login" placeholder="Login">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" required="required" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="repeatPassword">Repeat password:</label>
            <div class="controls">
                <input type="password" required="required" id="repeatPassword" placeholder="Repeat password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button disabled="disabled" id="registryBtn" type="submit" class="btn">Registry</button>
            </div>
        </div>
    </form>
{% endblock %}