{% extends 'layout.html' %}

<div><h1 class="text-center">{% block title %}Entries{% endblock %}</h1></div>
{% block content %}
<div id="entries">
    <div id="left-column">
        <p>Actions</p>
        <ul class="plain-ul">
            {% if user.is_authenticated %}
                <li><a href="{% url 'add' %}">Add new entry</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
        <p>Users entries</p>
        <ul class="plain-ul">
            <li><a href="{% url 'entries' %}">All entries</a></li>
            {% for user in users %}
                <li><a href="{% url 'entries' %}?user={{ user }}">{{ user }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="all-entries" class="pull-right">
        {% for entry in entries %}
        <div class="entry pull-right">
            <h2 class="title">{{ entry.title }}</h2>
            <blockquote class="entry-content">
                <p>{{ entry.text }}</p>
                <small class="entry-author">{{ entry.author }}</small>
            </blockquote>
        </div>
        {%  endfor %}
    </div>
</div>
{% endblock %}