{% extends "base.html" %}

{% block content %}
<div id="wrapper">
    <div id="main">
        <p class="text-right">
            {% if user.is_authenticated %}
                You are logged as <strong>{{ user }}</strong>.
            {% endif %}
        </p>
        {% block blog_content %}{% endblock %}
    </div>
</div>
{% endblock %}
