{% extends "base.html" %}

{% block content %}
    <div id="wrapper">
        <div id="main">
            <div id="centerBox">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% block blog_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}