<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="/~p13/mysite{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="/~p13/mysite{% static 'css/my.css' %}">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/~p13/mysite{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<div id="wrapper">
    <div id="main">
        <p class="text-right">
            {% if user.is_authenticated %}
                You are logged as <strong>{{ user }}</strong>.
            {% endif %}
        </p>
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
