{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'microblog/css/my.css' %}">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{% static 'microblog/js/bootstrap.js' %}"></script>

<div id="wrapper">
    <div id="main">
        <div class="text-right">
        </div>
        <div class="padding10">
            <form action="{% url 'submit_entry' %}" method="POST">
                {% csrf_token %}
                <input required="required" type="text" name="title" placeholder="Title"/>
                <textarea required="required" rows="5" name="content" class="max-width" placeholder="Write something..."></textarea>
                <input required="required" type="text" name="author" placeholder="Author"> </br>
                <button id="add" type="submit" class="btn">Add entry</button>
            </form>
        </div>
    </div>
</div>