{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'microblog/css/my.css' %}">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{% static 'microblog/js/bootstrap.js' %}"></script>

<div id="wrapper">
    <div id="main">
        <div id="entries">
            <div id="left-column">
                <ul class="plain-ul">
                        <li><a href="{% url 'add' %}">Add new entry</a></li>
                </ul>
            </div>
            <div id="all-entries" class="pull-right">
                {% for entry in entries %}
                <div class="entry pull-right">
                    <h2 class="title">{{ entry.title }}</h2>
                    <blockquote class="entry-content">
                        <p>{{ entry.text }}</p>
                        <small class="entry-author">{{ entry.author }}</small>
                    </blockquote>
                </div>
                {%  endfor %}
            </div>
        </div>
    </div>
</div>