<!DOCTYPE html>
<html>
<head>
    <title>{{title or 'Bottle'}}</title>
    <link rel="stylesheet" type="text/css" href="../../static/microblog/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../static/microblog/css/my.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../static/microblog/js/bootstrap.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="main">
        <div><h1 class="text-center">{{title}}</h1></div>
        %include
    </div>
</div>
</body>
</html>
