{% extends "base.html" %}
{% block content %}
<form action="{% url 'add_entry' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div style="text-align: center">
        <div>Tagi:</div>
    {% for tag in tags %}
        <label>{{tag.name}}</label>
        <input type="checkbox" name="checkboxes" value="{{tag.name}}"/>
    {% endfor %}
    </div>
<input type="submit" value="Submit" />
</form>
{% endblock %}