{% extends "base.html" %}

{% block content %}
<div class="users">
{% for month in Months %}
<div class="user">
    <div><a href="{% url 'entries_month' month=month.month %}">{{ month.published|date:"M" }}</a></div>
</div>
{% endfor %}
</div>
{% endblock %}