{% extends "base.html" %}

{% block content %}
<div class="users">
{% for usr in Users %}
<div class="user">
    <div><a href="{% url 'entries_username' username=usr.username %}">{{ usr.username }}</a></div>
</div>
{% endfor %}
</div>
{% endblock %}