<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
    Title: {{book['title']}} <br/>
    <br/>
    Author: {{book['author']}} <br/>
    <br/>
    Publisher: {{book['publisher']}} <br/>
    <br/>
    ISBN: {{book['isbn']}} <br/>
    <br/>
    </body>
</html>