
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="/~p13/mysite{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="/~p13/mysite{% static 'css/my.css' %}">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/~p13/mysite{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<div id="wrapper">
    <div id="main">
        <div id="centerBox">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>