<div class="text-right">
    %if user != '':
    You are logged as <strong>{{user}}</strong>.
    %end
</div>
<div class="padding10">
    <form action="./entry/submit" method="POST">
        <input required="required" type="text" name="title" placeholder="Title">
        <textarea required="required" rows="5" name="content" class="max-width" placeholder="Write something..."></textarea>
        <button id="add" type="submit" class="btn">Add entry</button>
    </form>
</div>
%rebase layout title='New entry'