%rebase layout title='Entries'
<div class="text-right">
    %if user != '':
    You are logged as <strong>{{user}}</strong>.
    %end
</div>
<div id="entries">
    <div id="left-column">
        <ul class="plain-ul">
            %if user != '':
                <li><a href="./add">Add new entry</a></li>
                <li><a href="./logout">Logout</a></li>
            %else:
                <li><a href="./login">Login</a></li>
            %end

        </ul>
    </div>
    <div id="all-entries" class="pull-right">
        %if not entries:
        <span class="text-error">No entries...</span>
        %else:
        %for entry in entries:
        <div class="entry pull-right">
            <h2 class="title">{{entry['title']}}</h2>
            <blockquote class="entry-content">
                <p>{{entry['text']}}</p>
                <small class="entry-author">{{entry['author']}}</small>
            </blockquote>
        </div>
        %end
    </div>
</div>