%if msg != '':
    <div class="alert alert-info text-center">{{msg}}</div>
%end
<form action="./doLogin" method="POST" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="login">Username</label>
        <div class="controls">
            <input type="text" required="required" name="login" id="login" placeholder="Username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" required="required" name="password" id="password" placeholder="Password">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Sign in</button>
            <a href="./registry" class="btn" style="margin-left: 70px">Registry</a>
        </div>
    </div>
</form>
%rebase startLayout title='Login'