<!DOCTYPE html>
<html>
<head>
    <title>{{title or 'Bottle'}}</title>
    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./static/css/my.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="./static/js/bootstrap.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="main">
        <div id="centerBox">
        %include
        </div>
    </div>
</div>
</body>
</html>
