#wrapper{
    width: 1000px;
    height: 100%;
    margin: 40px auto 0px;
}

#centerBox{
    margin: auto;
    padding: 20%;
}

#main{
    margin-left: auto;
    margin-right: auto;
}

#title{
    text-align: center;
}

.max-width{
    width: 100%;
}

.padding10{
    padding: 10%;
}

#all-entries, .entry{
    width: 85%;
}

.plain-ul{
    list-style-type: none;
}

#left-column{
    width: 15%;
    float: left;
}