body {
    margin: 0 auto;
    font-family: Arial;
    font-size: 15px;
}
a, a:visited {
    text-decoration: none;
    color: black;
}

.container, .menu {
    width: 960px;
    margin: 0 auto;
}
.menu {text-align: center; margin: 20px 0 20px 0}
.menu a {
    padding: 7px;
    margin: 5px;
    background: #eee;
    box-shadow: 0px 0px 10px grey;
    color: black;
    text-shadow: 1px 1px white;
    text-decoration: none;
}

.alert {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}

.alert a, .alert a:link, .alert a:visited {color: white;}
.alert.alert-success {
    background: lightgreen;
    color: white;
    text-shadow: 1px 1px black;
}

.top {
    height: 50px;
    margin: 0;
    padding: 0;
    background: limegreen;
}

.top .slogan {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
    line-height: 71px;
}

.notification {
    margin: 0 auto;
    display: block;
    width: 75%;
    text-align: center;
    border: 1px solid grey;
    padding: 15px;
    font-weight: bold;
}

.notification.success {border: 1px solid limegreen;}
.notification.error {border: 1px solid red;}
.entry {
    width: 90%;
    padding: 30px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid limegreen;
    border-radius: 5px;
}

.entry .title {
    font-size: 17px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.entry .nick {
    font-size: 12px;
    margin-top: 2px;
}

.entry .nick span a {
    padding: 3px;
    border-radius: 3px;
    background: limegreen;
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
    margin-right: 3px;
}

.errorlist {color: red}

.users {margin-top: 40px;}
.user div {margin: 5px; text-align: center; float: left;}
.user div a {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid limegreen;
    border-radius: 5px;
    text-align: center;
}

form p {
    padding: 10px;
    border: 1px solid limegreen;
    border-radius: 5px;
    text-align: center;
}
form p label {
    display: block;
    font-weight: bold;
}
form input[type="submit"] {
    background: limegreen;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
