{% extends 'layout.html' %}

<div><h1 class="text-center">{% block title %}Add entry{% endblock %}</h1></div>
{% block content %}
<div class="padding10">
    <form action="{% url 'submit_entry' %}" method="POST">
        {% csrf_token %}
        <input required="required" type="text" name="title" placeholder="Title"/>
        <textarea required="required" rows="5" name="content" class="max-width" placeholder="Write something..."></textarea>
        <button id="add" type="submit" class="btn">Add entry</button>
    </form>
</div>
{% endblock %}